@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(30, 38%, 92%);   
}

.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imga{
    width: 400px;
    height: 595px;
    border-radius: 15px;
}

.card{
    border-radius: 15px;
    width: 400px;
    height: 595px;
    background-color: white;
}

.card-content{
    height: 595px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 35px;
}

.price{
    display: flex;
}

.current-price{
    font-size: 40px;
    color: green;
}

.pro-name{
    font-size: 48px;
}

.old-price, .pro-cat, .pro-des, .btn{
    font-family: 'Montserrat', sans-serif;
}
.old-price{
    padding-left: 10px;
    padding-top: 15px;
    text-decoration: line-through;
}

.pro-name, .current-price{
    font-family: 'Fraunces', serif;

}

.pro-cat{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.pro-des{
    font-weight: bold;
    line-height: 30px;
}

.op{
    display: flex;
}

.btn{
    width: 90%;
    height: 40px;
    color: white;
    background-color: green;
    font-weight: bolder;
    border-radius: 6px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    padding-right: 10px;
}

@media  screen and (max-width: 920px){
    .op{
        display: flex;
        flex-direction: column;
    }

    .box{
        display: flex;
        flex-direction: row;
    }
    .card{
        width: 900px;
        height: 450px;
    }

    .card-content{
        width: 900px;
        height: 450px;
    }

    .imga{
        width: 900px;
        height: 400px;
        object-fit: cover;
    }
    .pro-cat{
        padding-top: 40px;
    }

    
    .imga{
        max-width: 90vw;
    }
    .card{
        max-height: 80vh;
        max-width: 90vw;
    }
    .card-content{
        max-height: 70vh;
        max-width: 80vw;
    }

    .click{
        padding-right: 70px;
    }
}